@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 0;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #34f9f5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  top: 30px;
  right: 435px;
}

.bottom-cloud {
  position: absolute;
  top: 194px;
  left: 435px;
}
